body {
    padding: 0px;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
}
img {
    height: 200px;
}
nav{
    border-bottom: 4px black;
    padding-block: 16px;

}
